
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{styles}}">
</head>
<body>
    <header>
        <h1>{{title}}</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>Posted by {{author}} on {{date}}</p>
    </footer>
    <script src="{{script}}"></script>
</body>
</html>
